
<script>
    function topFunction() {
     document.body.scrollTop = 0;
     document.documentElement.scrollTop = 0;
}
</script>
<button onclick="topFunction()" id="toTopBtn" title="Go to top">Go Back To Top</button>

<style>

#toTopBtn {
  
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: #7253ed;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#toTopBtn:hover {
  background-color: #6b638f;
}

@media screen and (max-width: 768px) {
  #myBtn {
    display: none;
  }
}
</style>



<script>
mybutton = document.getElementById("toTopBtn");

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
</script>